# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\muril\Documents\Sistemas de Informação\Análise e Desenvolvimento de Sistemas\Design-Patterns\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
